@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    animation: body ease 3s;
}
@keyframes body{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#left{
}
h2 + p {
    font-family: 'Poppins','sans-serif';
}
h1{
    font-family: 'Poppins','sans-serif';
}
#left h1 i{
    color: red;
}
#input {
    width: 80%;
    border: 1px solid #ececec;
    border-radius: 4px;
    padding: 10px 0px 10px 35px;
}

#icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 80px;
    color: #6f6f6f;
}
#btn-login{
    background-color: rgb(239, 5, 5);
    padding: 10px 0px;
    width: 80%;
    border: none;
}
#btn-login:hover{
    background-color: yellow;
    color: black;
}
#left p a{
    color: black;
    text-decoration: none;
}
#left p a:hover{
    color: red;
}
#right{
    background-color: red;
}
#right img{
    max-width: 450px;
    overflow: hidden;
}
p{
    font-family: 'Poppins','sans-serif'; 
}
