.drop-area {
    width: 100%;
    height: 300px;
    border: 2px dashed #ccc;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}
#drop-tittle{
    font-size: 20px;
    color: #ccc;
}
.drop-area i{
    color: #ccc;
    font-size: 100px;
}
.content{
    margin-left: 80px;
    margin-right: 40px;
}
h4{
    color: red;
    text-decoration: none;
}
#avatar{
    max-width: 150px;
    border-radius: 50%;
}
#avatar-card{
    box-shadow: 5px 5px 5px 10px rgb(244, 244, 244);
    max-width: 500px;
}
#avatar-card ul li{
    list-style-type: none;
}
#btn-filter, #btn-reset{
    border: none;
}
.pagination {
    font-size: 14px;
}